:root {
  --black: #000;
  --grey: #cdcdcd;
  --light-grey: #EDEDED; 
  --font-sans-serif: 'Manrope', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-small-serif: 'Averia Serif Libre', serif;
  --font-cursive: 'Playball', cursive;
}

html {
  box-sizing: border-box;
  scroll-padding-top: 90px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

/*------------ fonts and image ------------*/

body {
  font-family: var(--font-sans-serif);
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  font-family: var(--font-serif);
  color: var(--black);
  font-size: 1.8rem;
  line-height: 2rem;
}

h2 {
  font-family: var(--font-serif);
  color: var(--black);
  font-size: 3rem;
  line-height: 3.8rem;
}

h3 {
  font-family: var(--font-small-serif);
  color: var(--black);
  font-size: 1rem;
  text-transform: uppercase;
}

h4 {
  font-family: var(--font-cursive);
}

li, a {
  color: var(--black);
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  border: 3px solid #000;
}

p {
  padding-top: 10px;
}

/*------------ navigation ------------*/

.nav-bar__container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  background: var(--grey);
  position: sticky;
  z-index: 1;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.nav-bar__logo {
  margin: auto;
}

.nav-bar__list {
  margin-bottom: 0px;
}

.nav-bar__list--left {
  padding-left: 1.2rem;
  margin: 1.2rem 0;
}

.nav-bar__list--right {
  padding-right: 1.2rem;
  margin: 1.2rem 0;
}

.nav-bar__item {
  display: inline-block;
  padding: 0 1rem;
}

/*------------ hook ------------*/

.hook__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  align-items: center;
}

.hook__heading {
  display: flex;
  justify-content: left;
  padding-top: 40px;
  padding-right: 40px;
}

.img-card__img {
  border-radius: 1.25rem;
  width: 100%;
}

/*------------ problem ------------*/

.problem_container {
  width: 100%;
  position: relative;
}

.problem__heading {
  background:var(--light-grey);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.answer__container {
  background:var(--light-grey);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  align-items: center;
}

.answer__content {
  padding-left: 40px;
}

.purpose__container {
  background:var(--light-grey);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  align-items: center;
}

.purpose__content {
  padding-right: 40px;
}

/*------------ research ------------*/

.research__container {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.research__content {
  display: flex;
  column-gap: 1.5rem;
  padding: 40px;
  justify-content: center;
}

.research-card__img {
  border-radius: 1.25rem;
  width: 100%;
  padding-bottom: 10px;

}

/*------------ process ------------*/

.process__container {
  background:var(--light-grey);
  text-align: center;
  padding: 40px 200px;
}

.process-card__container {
  padding: 40px 0px;
}

.process-card__img {
  border-radius: 1.25rem;
  width: 100%;
  object-fit: cover;
}

/*------------ feedback ------------*/

.feedback__container {
  text-align: center;
  padding: 40px 200px;
}

.feedback__intro {
  padding-bottom: 40px;
}

.feedback__content {
  display: flex;
  column-gap: 1.5rem;
  padding: 10px;
  justify-content: center;
}

.feedback-card__container {
  border-radius: 1.25rem;
  padding: 10px;
  text-align: center;
  background-color: var(--light-grey);
  height: 200px;
  width: 400px;
}

/*------------ solution ------------*/

.solution__intro {
  padding-bottom: 40px;
}

.solution__container {
  background:var(--light-grey);
  text-align: center;
  padding: 40px 200px;
}

.solution__content {
  display: flex;
  column-gap: 1.5rem;
  padding: 10px;
  justify-content: center;
}

.solution-card__img {
  height: 500px;
  border-radius: 1.25rem;
}

.button {
  background-color: var(--black);
  border: none;
  color: var(--light-grey);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: .5rem;
}
