:root {
  --black: #000;
  --light-grey: #cdcdcd;
  --font-sans-serif: 'Manrope', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-small-serif: 'Averia Serif Libre', serif;
  --font-cursive: 'Playball', cursive;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

/*------------ fonts and image ------------*/

body {
  font-family: var(--font-sans-serif);
  color: var(--black);
  font-size: 1rem;
  line-height: 1.8rem;
}

h1 {
  font-family: var(--font-serif);
  color: var(--black);
}

h2 {
  font-family: var(--font-serif);
  color: var(--black);
  font-size: 3rem;
}

h3 {
  font-family: var(--font-small-serif);
  color: var(--black);
  font-size: 1rem;
}

h4 {
  font-family: var(--font-cursive);
}

li, a {
  color: var(--black);
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/*------------ navigation ------------*/

.nav-bar__container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  background: var(--light-grey);
  position: sticky;
  z-index: 1;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.nav-bar__logo {
  margin: auto;
}


.nav-bar__list {
  margin-bottom: 0px;
}

.nav-bar__list--left {
  padding-left: 1.2rem;
  margin: 1.2rem 0;
}

.nav-bar__list--right {
  padding-right: 1.2rem;
  margin: 1.2rem 0;
}

.nav-bar__item {
  display: inline-block;
  padding: 0 1rem;
}

/*------------ hook ------------*/